<div class="container-fluid">	
	<div class="row">
		<div class="col-xs-8">
			<h1>BaconList</h1>
			<p>Welcome to BaconList</p>
		</div>
		<div class="links col-xs-4">
			<a href="/login">Login</a>
			<a href="/signup">Signup</a>

			<form method="GET" action="/share">
				<input type="submit" value="Share some bacon!" />
			</form>
		</div>
	</div>
</div>

<div class="media container">
	<form method="POST" action="/">
		{{#each media}}
		<div id="media-link" class="row">
			<div class="col-xs-6">
				<a href="{{this.url}}" >{{this.title}}</a>
			</div>
			<div class="col-xs-2">
				<span id="voteNumber">votes: {{this.votes}}</span>
			</div>
			<div class="col-xs-4">
				<span>Vote for : </span><input type="submit" name="button" class="btn btn-default" value={{this.title}} />
			</div>
		</div>
		{{/each}}
	</form>
</div>

<script>

	document.addEventListener("DOMContentLoaded", function(event) {
		
		var voteButton = document.getElementsByClassName("btn");
		voteButton.addEventListener("click", votePlusOne);

		function votePlusOne(evt) {
			evt.preventDefault();
		}
	});
</script>