<h1>Log In to Baconlist</h1>

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form method="POST" action="/login">
	<input type="text" name="username" placeholder="Username" required />
	<input type="password" name="password" placeholder="Password" required />
	<input type="submit" value="Login" />
</form>