<div class="share-page">
	<h1>Share some Bacon</h1>

	<form method="POST" action="/share">
		<input type="text" class="input-text" name="title" placeholder="Title" />
		<input type="url" class="input-text" name="url" placeholder="URL" />
		<input type="text" class="input-text" name="category" placeholder="Category" />
		<input type="submit" class="input-button" value="Submit" />
	</form>

	<br />
	<div>
		<a href="/">Back to Home</a> |
		<a href="/share">Share Bacon</a>

	</div>
</div>