<h1>Share some Bacon</h1>

<form method="GET" action="/index">
	<input type="text" value="Title" />
	<input type="url" value="URL" />
	<input type="checkbox" name="general" value="General">General
	<input type="checkbox" name="sports" value="Sports">Sports
	<input type="checkbox" name="fashion" value="Fashion">Fashion
	<input type="checkbox" name="technology" value="Technology">Technology
	<input type="checkbox" name="politics" value="Politics">Politics
	<input type="checkbox" name="food" value="Food">Food
	<input type="submit" value="Submit" />
</form>