<h1>Share some Bacon</h1>

<form method="POST" action="/share" id="media">
	<input type="text" name="title" placeholder="Title" />
	<input type="url" name="url" placeholder="URL" />
	<input type="text" name="category" placeholder="Category" />
	<input type="submit" value="Submit" />
</form>